.App {
	font-family: sans-serif;
	display: flex;
	user-select: none;

	&__adjusters {
		&__adjuster {
			display: flex;

			@media (min-width: 1000px) {
				display: block;
			}

			&__active {
				flex: 0 0 auto;

				@media (min-width: 1000px) {
					display: inline-block;
				}
			}

			&__label {
				flex: 1 1 auto;

				@media (min-width: 1000px) {
					display: inline-block;
				}
			}

			&__picker {
				flex: 0 0 auto;

				@media (min-width: 1000px) {
					display: block;
				}
			}
		}
	}

	&__layers {
		position: relative;
		width: 100%;

		&__layer {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

			&__static {
				width: 100%;
				height: auto;
			}
		}
	}

	@media (max-width: 1000px) {
		flex-direction: column;
	}
 }