.ColorSlider {
	$borderThumbSize: 0.5em;
	$barHeight: 1em;

	position: relative;
	min-width: 10em;
	height: $barHeight;
	margin: 2.5 * $borderThumbSize (1.5 * $borderThumbSize + $barHeight / 2);

	border-radius: $barHeight / 2;
	box-shadow: inset 0.1em 0.1em 0.05em 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 0.1em inset;

	&__thumb {
		position: absolute;
		top: 50%;
		left: 0;
		height: 1.5 * $barHeight;
		width: 1.5 * $barHeight;
		transform: translate(-50%, -50%);
		box-shadow: 0.1em 0.1em 0.05em 0 rgba(0, 0, 0, 0.5);
		background-color: #EEE;
		border: 0.05em outset;

		border-radius: 50%;

		cursor: pointer;

		&__color {
			position: absolute;
			height: $barHeight;
			width: $barHeight;
			box-shadow: inset 0.1em 0.1em 0.05em 0 rgba(0, 0, 0, 0.5);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
		}
	}
}