.Checkbox {
	display: flex;
	padding: 0.25em 0.5em;

	&__input {
		position: relative;
		height: 1.3em;
		width: 1.3em;
		flex: 0 0 auto;
		visibility: hidden;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			visibility: visible;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #666;
			border-radius: 0.25em;
		}

		&:checked {
			&::after {
				content: "✔";
				color: white;
				position: absolute;
				visibility: visible;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

	}

	&__label {
		flex: 1 1 auto;
		color: #666;
		padding-left: 1em;
		font-weight: bold;
		cursor: pointer;
		text-shadow: -0.05em -0.05em 0.1em #666, 0.05em 0.05em 0.1em white;
	}
}