.App {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: sans-serif;
	color: white;
	display: flex;
	user-select: none;

	&__sidebar {
		background: #DDDDDE;
		flex: 0 0 auto;
		overflow-y: auto;
		border-right: 0.1em outset;

		&__adjuster {
			&__picker {}
		}
	}

	&__content {
		position: relative;
		width: 100%;
		background: #333;
		flex: 1 1 auto;

		&__frame {
			@mixin sizeByDim {
				width: 100%;
				height: auto;

				&--sizeByHeight {
					height: 100%;
					width: auto;
				}
			}

			@include sizeByDim();
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 0.25em;

			&__sizer {
				@include sizeByDim();
				display: block;
			}

			&__layers {
				&__layer {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;

					&__img {
						position: absolute;
						
						&--static {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
 }